.navbar {
    background-color:  #123564 ;
    font-size: 16px;
    
}

.navbar-brand{
    color: white;
    font-size: 25px;
}
.navabar-light .navbar-nav .nav-link {
    color: white;
    padding : 0 20px;
    transition: 0.3s;
}

.navabar-light .navbar-nav .nav-link:hover,
.navabar-light .navbar-nav .nav-link:active{
    color: #c2d6d6
}
