<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">

            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">


                    <!-- name -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Full Name</h6>
                        </label>
                        <input class="mb-4" type="text" name="name" placeholder="Enter your name"   required minlength="4"
                         [(ngModel)]="user.name" #name="ngModel">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert text-danger">

                                <div *ngIf="name.errors?.required">
                                    Name is required.
                                </div>
                                <div *ngIf="name.errors?.minlength">
                                    Name must be at least 4 characters long.
                                </div>
                                
                            </div>
                    </div>

                    <!-- email -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label>
                        <input class="mb-4" type="email" name="email" placeholder="Enter an email address"
                            [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            #userEmail="ngModel">
                            <div *ngIf="userEmail.errors  && !isValidFormSubmitted" [ngClass]="'error'">
                                <div *ngIf="userEmail.errors.pattern" class="text-danger">
                                    Email not valid.
                                </div>
                            </div>
                    </div>

                    <!-- phone number -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Mobile Number</h6>
                        </label>
                        <input class="mb-4" type="text" name="mobile" placeholder="Enter a mobile number"
                            [(ngModel)]="user.mobile" required pattern="^((\\+91-?)|0)?[0-9]{10}$"
                            #userMobile="ngModel">
                            <div *ngIf="userMobile.errors" [ngClass]="'error'">
                                <div *ngIf="userMobile.errors.pattern" class="text-danger">
                                    Mobile number is not valid.
                                </div>
                            </div>
                    </div>

                    <!-- <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Address</h6>
                        </label>
                        <input class="mb-4" type="text" name="address" placeholder="Enter address">
                    </div> -->

                    <!-- password -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label>
                        <input type="password" name="password" placeholder="Enter password" [(ngModel)]="user.password"
                            required minlength="4" #password="ngModel">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert text-danger">

                                <div *ngIf="password.errors?.required">
                                    Password is required.
                                </div>
                                <div *ngIf="password.errors?.minlength">
                                    Password must be at least 4 characters long.
                                </div>
                                
                            </div>
                    </div>

                    <!-- Signup -->
                    <div class="row mb-3 px-3"> <button (click)="registerUser()" type="submit"
                            class="btn btn-blue text-center">Signup</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>